{% extends 'blog/base.html' %}

{% block content %}

  {% if response_status == 'error' %}
    <h3>{{ errors }}</h3>
  {% endif %}
  <div>
    <form method="POST">
      {% csrf_token %}
      <div>
        {{ form.author.label_tag }}
        {{ form.author }}
      </div>
      <div>
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
      <div>
        {{ form.text.label_tag }}
        {{ form.text }}
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

{% endblock %}